<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">&nbsp;Ajouter un personnel</h3>
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <section class="container"><div id="multple-step-form-n" class="container overflow-hidden" style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
<div id="progress-bar-button" class="multisteps-form">
<div class="row">
<div class="col-12 col-lg-12 ml-auto mr-auto mb-4">
<div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">Informations Personnelles</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Suivant</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Contact </a></div>
</div>
</div>
</div>
<div id="multistep-start-row" class="row">
<div id="multistep-start-column" class="col-12 col-lg m-auto">
<form id="main-form" class="multisteps-form__form">
<div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
    <h3 class="text-center multisteps-form__title">Informations Personnelles</h3>
    <div id="form-content" class="multisteps-form__content">
        <div id="input-grp-single-3" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Nom" /></div>
        </div>
        <div id="input-grp-single-4" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Prénom" /></div>
        </div>
        <div id="input-grp-single" class="form-row mt-4">
            <div class="col-12"><label class="form-label">Date de Naissance</label><input class="form-control" type="date" /></div>
        </div>
        <div id="input-grp-single-5" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="CIN" /></div>
        </div>
        <div id="input-grp-single-5" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Intitulé du diplome" /></div>
        </div>
        <div id="next-button" class="button-row d-flex mt-4"><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
    </div>
</div>
<div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
    <h3 class="text-center multisteps-form__title">Informations Personnelles</h3>
    <div id="form-content-1" class="multisteps-form__content">
        <div id="input-grp-single-7" class="form-row mt-4">
            <div class="col-12">
                <div>
                    <fieldset>
                        <legend>Sexe :</legend>
                        <div class="custom-control custom-radio"><input type="radio" id="customRadio1" class="custom-control-input" name="customRadio" checked /><label class="form-label custom-control-label" for="customRadio1"> Homme</label></div>
                        <div class="custom-control custom-radio"><input type="radio" id="customRadio2" class="custom-control-input" name="customRadio" /><label class="form-label custom-control-label" for="customRadio2"> Femme</label></div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div id="input-grp-single-6" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Adresse" /></div>
        </div>
        <div id="input-grp-single-1" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Sitiation familiale" /></div>
        </div>
        <div id="input-grp-single" class="form-row mt-4">
            <div class="col-12"><label class="form-label">Date d'embauche</label><input class="form-control" type="date" /></div>
        </div>
        <div id="next-prev-buttons" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><label class="form-label"> </label><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
    </div>
</div>
<div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
    <h3 class="text-center multisteps-form__title">Informations Personnelles</h3>
    <div id="form-content-2" class="multisteps-form__content">
        <div id="input-grp-single-8" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Code CNSS" /></div>
        </div>
        <div id="input-grp-single-8" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Nombre d'enfant" /></div>
        </div>
        <div id="input-grp-single-9" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Numéro Tel :" /></div>
        </div>
        <div id="input-grp-single-2" class="form-row mt-4">
            <div class="col-12"><input type="text" class="form-control multisteps-form__input" placeholder="Email" /></div>
        </div>
        <div id="input-grp-single-10" class="form-row mt-4">
            Photo:
            <div class="col-12"><input type="file" class="form-control" /></div>
        </div>
        <div id="next-prev-buttons-1" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><label class="form-label"> </label><button  class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Ajouter"><a href="ManagePersonnel.html">Ajouter</a></button></div>
    </div>
</div>
</form>
</div>
</div><br />

</div></section>
    </div>
</div>